<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgzy.mapper.Student">
<!--    根据用户名查询用户对象-->
    <select id="getStudentInfoById" resultType="com.cgzy.entity.t_Student" parameterType="String">
        select * from t_student where student_num=#{student_num}
    </select>

    <!--    用于管理员查询返回list-->
    <select id="getStudentInfoByNum" resultType="com.cgzy.entity.t_Student" parameterType="String">
        select * from t_student where student_num=#{student_num}
    </select>


    <!--    录入学生信息-->
    <insert id="insertStudentInfo"  parameterType="com.cgzy.entity.t_Student">
        insert into t_student values (#{student_num},#{student_name},#{student_pw}
                ,#{sex},#{hotel_number},#{room_number},#{bed_number},#{statu})
    </insert>

    <!--    根据寝室名查询该寝室有多少人-->
    <select id="selectRoomByPeople" resultType="int" parameterType="com.cgzy.entity.t_Hotel">
        SELECT COUNT(*) FROM t_student WHERE hotel_number = #{hotel_number} AND room_number = #{room_number}
    </select>

<!--    根据学生的姓名查询-->
    <select id="getStudentInfoByName" resultType="com.cgzy.entity.t_Student" parameterType="String">
        select * from t_student where student_name = #{student_name}
    </select>

    <!--    学生的所有信息-->
    <select id="getStudentAllInfo" resultType="com.cgzy.entity.t_Student">
        select * from t_student
    </select>

    <!--    删除学生信息-->
    <delete id="delStudentInfo" parameterType="String">
        delete from t_student where student_num = #{student_num}
    </delete>

<!--    更新学生的寝室信息-->
    <update id="uptStudentInfo" parameterType="com.cgzy.entity.t_Student">
        update t_student set hotel_number=#{hotel_number},room_number=#{room_number},bed_number=#{bed_number}
        where student_num = #{student_num}
    </update>

    <!--    更新学生的寝室信息-->
    <update id="uptPwById" parameterType="String">
        update t_student set student_pw=#{student_pw} where student_num = #{student_num}
    </update>


    <select id="studentNumByMail" resultType="com.cgzy.entity.t_Student_Mail">
        select * from t_student_mail where mail_num = #{mail_num}
    </select>


</mapper>