<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgzy.mapper.Teacher">

    <select id="selectTeacherInfo" parameterType="String" resultType="com.cgzy.entity.t_Teacher">
        select * from t_teacher where teacher_num=#{teacher_num}
    </select>

</mapper>